<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <div>
        <strong>Name: </strong> <%= friend.full_name %>
        <strong>Email:  </strong> <%= friend.email%>
        <strong>Actions: </strong> <%= link_to 'view profile', '#',
        class: 'btn btn-success btn-sm' %>
        <% if current_user.can_follow?(friend) %>
          <%= link_to 'Follow friend',
            friendships_path(friend: friend),
            class: 'btn btn-sm btn-success', method: :post  %>
        <% else %>
          <span class="badge badge-secondary">
            Already following
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>